In [4]:
import pandas as pd

In [5]:
df=pd.read_excel(r'C:\Users\ankit.kumar.kothari\Desktop\step2successs-20210731T082503Z-001\step2successs\Training5\team_members.xlsx')

In [6]:
df.shape

(83, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No.       83 non-null     int64
 1   name        83 non-null     object
 2   team        83 non-null     object
 3   email       83 non-null     object
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.0+ KB

In [6]:
df.columns

Index(['S.No.', 'name', 'team', 'email', 'Unnamed: 4', 'Unnamed: 5'], dtype='object')

In [7]:
df.head(5)

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN
2,3,Chirag,Proactive,anuj.kumar@orange.com,NaN,NaN
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN
4,5,Rawat Arvind,IPE,arvind.rawat@orange.com,NaN,NaN

In [8]:
df.tail(5)

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
78,78,Sharma Kapil,Voice,kapil.sharma@orange.com,NaN,NaN
79,79,Saurabh Malviya,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
80,80,Malviya Saurabh,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
81,81,Sachin Kumar,Voice,sachin2.kumar.ext@orange.com,NaN,NaN
82,82,Kumar Sachin,Voice,sachin2.kumar.ext@orange.com,NaN,NaN

In [9]:
df[['name','team']]

               name       team
0     Ankit kothari   Reactive
1        Atul bajaj   Reactive
2            Chirag  Proactive
3        Dagar Arun   Reactive
4      Rawat Arvind        IPE
..              ...        ...
78     Sharma Kapil      Voice
79  Saurabh Malviya      Voice
80  Malviya Saurabh      Voice
81     Sachin Kumar      Voice
82     Kumar Sachin      Voice

[83 rows x 2 columns]

In [17]:
df.iloc[[0]]

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN

In [18]:
df

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN
2,3,Chirag,Proactive,anuj.kumar@orange.com,NaN,NaN
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN
4,5,Rawat Arvind,IPE,arvind.rawat@orange.com,NaN,NaN
...,...,...,...,...,...,...
78,78,Sharma Kapil,Voice,kapil.sharma@orange.com,NaN,NaN
79,79,Saurabh Malviya,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
80,80,Malviya Saurabh,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
81,81,Sachin Kumar,Voice,sachin2.kumar.ext@orange.com,NaN,NaN
82,82,Kumar Sachin,Voice,sachin2.kumar.ext@orange.com,NaN,NaN

In [23]:
a=df[df['team']=='Reactive']
a

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5,Reactive,Reactive,Proactive,Reactive,...,Voice,Voice,Voice,Voice,Voice,Voice,Voice,Voice,Voice,Voice
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
7,8,Bagalay Bhupender,Reactive,bhupender.bagalay@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
8,9,Pandey Gaurav,Reactive,gaurav1.pandey.ext@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
10,11,Sharma Himanshu,Reactive,himanshu.sharma@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
14,15,Shiraz Mohamad,Reactive,shiraz.nasir@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
15,16,Singh Naveen,Reactive,naveen.singh@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
17,18,Gupta Prashantg,Reactive,prashantg.gupta@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
18,19,Khurana Prashant,Reactive,prashant.khurana@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
19,20,Sinha Rachna,Reactive,rachna.sinha.ext@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
21,22,Yadav Rajesh,Reactive,rajeshy.yadav@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
22,23,Verma Ravi,Reactive,ravi.verma@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
29,30,Chaurasia Swati,Reactive,swati.chaurasia@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
31,32,Kumar Vikash,Reactive,vikash1.kumar@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
33,34,Bhatia Vivek,Reactive,vivek.bhatia@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
34,35,Ravi Verma,Reactive,ravi.verma@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
35,36,Abhishek Jha,Reactive,abhishek.jha@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
36,37,Ankur Gupta,Reactive,ankur1.gupta@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
38,39,Arun Dagar,Reactive,arunk.dagar@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
42,43,Bhupender Bagalay,Reactive,bhupender.bagalay@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
43,44,Gaurav Pandey,Reactive,gaurav1.pandey.ext@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
45,46,Himanshu Sharma,Reactive,konark.sharma.ext@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
49,50,Mohamad Shiraz,Reactive,naveen.singh@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
50,51,Naveen Singh,Reactive,pankaj.phartiyal@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
52,53,Prashant Gupta,Reactive,prashant.khurana@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
53,54,Prashant Khurana,Reactive,shiraz.nasir@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
54,55,Rachna Sinha,Reactive,rachna.sinha.ext@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
56,57,Rajesh Yadav,Reactive,rajeshy.yadav@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
63,64,Swati Chaurasia,Reactive,swati.chaurasia@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
65,66,Vikash Kumar,Reactive,vikash1.kumar@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
67,68,Vivek Bhatia,Reactive,vivek.bhatia@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive
68,23,Ravi verma,Reactive,ravi.verma@orange.com,NaN,NaN,Reactive,Reactive,Reactive,Reactive,...,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive,Reactive

In [10]:
a=df['name']
a

0       Ankit kothari
1          Atul bajaj
2              Chirag
3          Dagar Arun
4        Rawat Arvind
           ...
78       Sharma Kapil
79    Saurabh Malviya
80    Malviya Saurabh
81       Sachin Kumar
82       Kumar Sachin
Name: name, Length: 83, dtype: object

In [ ]:
for i in a: