In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\ankit.kumar.kothari\Desktop\step2successs-20210731T082503Z-001\step2successs\Training5\team_members.xlsx')

In [3]:
df.shape

(83, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No.       83 non-null     int64
 1   name        83 non-null     object
 2   team        83 non-null     object
 3   email       83 non-null     object
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.0+ KB

In [5]:
df.columns

Index(['S.No.', 'name', 'team', 'email', 'Unnamed: 4', 'Unnamed: 5'], dtype='object')

In [6]:
df.head(5)

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN
2,3,Chirag,Proactive,anuj.kumar@orange.com,NaN,NaN
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN
4,5,Rawat Arvind,IPE,arvind.rawat@orange.com,NaN,NaN

In [15]:
df=df[df.team.isnull()]

In [8]:
df[['name','team']]

               name       team
0     Ankit kothari   Reactive
1        Atul bajaj   Reactive
2            Chirag  Proactive
3        Dagar Arun   Reactive
4      Rawat Arvind        IPE
..              ...        ...
78     Sharma Kapil      Voice
79  Saurabh Malviya      Voice
80  Malviya Saurabh      Voice
81     Sachin Kumar      Voice
82     Kumar Sachin      Voice

[83 rows x 2 columns]

In [9]:
df.iloc[[0]]

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN

In [10]:
df

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN
2,3,Chirag,Proactive,anuj.kumar@orange.com,NaN,NaN
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN
4,5,Rawat Arvind,IPE,arvind.rawat@orange.com,NaN,NaN
...,...,...,...,...,...,...
78,78,Sharma Kapil,Voice,kapil.sharma@orange.com,NaN,NaN
79,79,Saurabh Malviya,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
80,80,Malviya Saurabh,Voice,saurabh.malviya.ext@orange.com,NaN,NaN
81,81,Sachin Kumar,Voice,sachin2.kumar.ext@orange.com,NaN,NaN
82,82,Kumar Sachin,Voice,sachin2.kumar.ext@orange.com,NaN,NaN

In [11]:
a=df[df['team']=='Reactive'] 
a

,S.No.,name,team,email,Unnamed: 4,Unnamed: 5
0,1,Ankit kothari,Reactive,abhishek.jha@orange.com,NaN,NaN
1,2,Atul bajaj,Reactive,ankur1.gupta@orange.com,NaN,NaN
3,4,Dagar Arun,Reactive,arunk.dagar@orange.com,NaN,NaN
7,8,Bagalay Bhupender,Reactive,bhupender.bagalay@orange.com,NaN,NaN
8,9,Pandey Gaurav,Reactive,gaurav1.pandey.ext@orange.com,NaN,NaN
10,11,Sharma Himanshu,Reactive,himanshu.sharma@orange.com,NaN,NaN
14,15,Shiraz Mohamad,Reactive,shiraz.nasir@orange.com,NaN,NaN
15,16,Singh Naveen,Reactive,naveen.singh@orange.com,NaN,NaN
17,18,Gupta Prashantg,Reactive,prashantg.gupta@orange.com,NaN,NaN
18,19,Khurana Prashant,Reactive,prashant.khurana@orange.com,NaN,NaN
19,20,Sinha Rachna,Reactive,rachna.sinha.ext@orange.com,NaN,NaN
21,22,Yadav Rajesh,Reactive,rajeshy.yadav@orange.com,NaN,NaN
22,23,Verma Ravi,Reactive,ravi.verma@orange.com,NaN,NaN
29,30,Chaurasia Swati,Reactive,swati.chaurasia@orange.com,NaN,NaN
31,32,Kumar Vikash,Reactive,vikash1.kumar@orange.com,NaN,NaN
33,34,Bhatia Vivek,Reactive,vivek.bhatia@orange.com,NaN,NaN
34,35,Ravi Verma,Reactive,ravi.verma@orange.com,NaN,NaN
35,36,Abhishek Jha,Reactive,abhishek.jha@orange.com,NaN,NaN
36,37,Ankur Gupta,Reactive,ankur1.gupta@orange.com,NaN,NaN
38,39,Arun Dagar,Reactive,arunk.dagar@orange.com,NaN,NaN
42,43,Bhupender Bagalay,Reactive,bhupender.bagalay@orange.com,NaN,NaN
43,44,Gaurav Pandey,Reactive,gaurav1.pandey.ext@orange.com,NaN,NaN
45,46,Himanshu Sharma,Reactive,konark.sharma.ext@orange.com,NaN,NaN
49,50,Mohamad Shiraz,Reactive,naveen.singh@orange.com,NaN,NaN
50,51,Naveen Singh,Reactive,pankaj.phartiyal@orange.com,NaN,NaN
52,53,Prashant Gupta,Reactive,prashant.khurana@orange.com,NaN,NaN
53,54,Prashant Khurana,Reactive,shiraz.nasir@orange.com,NaN,NaN
54,55,Rachna Sinha,Reactive,rachna.sinha.ext@orange.com,NaN,NaN
56,57,Rajesh Yadav,Reactive,rajeshy.yadav@orange.com,NaN,NaN
63,64,Swati Chaurasia,Reactive,swati.chaurasia@orange.com,NaN,NaN
65,66,Vikash Kumar,Reactive,vikash1.kumar@orange.com,NaN,NaN
67,68,Vivek Bhatia,Reactive,vivek.bhatia@orange.com,NaN,NaN
68,23,Ravi verma,Reactive,ravi.verma@orange.com,NaN,NaN

In [12]:
a=df['name']
b=df['team']

In [13]:
c={}
for i,j in zip(a,b):
    c[i]=j
print(c)

{'Ankit kothari': 'Reactive', 'Atul bajaj': 'Reactive', 'Chirag': 'Proactive', 'Dagar Arun': 'Reactive', 'Rawat Arvind': 'IPE', 'Chaturvedi Aseem': 'IPE', 'Kumar Azad': 'Proactive', 'Bagalay Bhupender': 'Reactive', 'Pandey Gaurav': 'Reactive', 'Joshi Himanshu': 'IPE', 'Sharma Himanshu': 'Reactive', 'Sharma Konark': 'Proactive', 'Sharma Madhukar': 'Proactive', 'Gaur Manmohan': 'Proactive', 'Shiraz Mohamad': 'Reactive', 'Singh Naveen': 'Reactive', 'Phartiyal Pankaj': 'Proactive', 'Gupta Prashantg': 'Reactive', 'Khurana Prashant': 'Reactive', 'Sinha Rachna': 'Reactive', 'Khandelwal Rahul': 'IPE', 'Yadav Rajesh': 'Reactive', 'Verma Ravi': 'Reactive', 'Mohanta Rekhasmita': 'Proactive', 'Gupta Rishabh': 'Proactive', 'Uppal Sahil': 'Proactive', 'Khatri Saurabh': 'Proactive', 'Dahiya Sumit': 'Proactive', 'Dimri Sumit': 'Proactive', 'Chaurasia Swati': 'Reactive', 'Sharma Vikas': 'IPE', 'Kumar Vikash': 'Reactive', 'Singh Vinay': 'Proactive', 'Bhatia Vivek': 'Reactive', 'Ravi Verma': 'Reactive', 'Abhishek Jha': 'Reactive', 'Ankur Gupta': 'Reactive', 'Anuj Kumar': 'proactive', 'Arun Dagar': 'Reactive', 'Arvind Rawat': 'IPE', 'Aseem Chaturvedi': 'IPE', 'Azad Kumar': 'proactive', 'Bhupender Bagalay': 'Reactive', 'Gaurav Pandey': 'Reactive', 'Himanshu Joshi': 'IPE', 'Himanshu Sharma': 'Reactive', 'Konark Sharma': 'proactive', 'Madhukar Sharma': 'proactive', 'Manmohan Gaur': 'proactive', 'Mohamad Shiraz': 'Reactive', 'Naveen Singh': 'Reactive', 'Pankaj Phartiyal': 'proactive', 'Prashant Gupta ': 'Reactive', 'Prashant Khurana': 'Reactive', 'Rachna Sinha': 'Reactive', 'Rahul Khandelwal': 'IPE', 'Rajesh Yadav ': 'Reactive', 'Rekhasmita Mohanta': 'proactive', 'Rishabh Gupta': 'proactive', 'Sahil Uppal': 'proactive', 'Saurabh Khatri': 'proactive', 'Sumit Dahiya ': 'proactive', 'Sumit Dimri ': 'proactive', 'Swati Chaurasia': 'Reactive', 'Vikas Sharma': 'IPE', 'Vikash Kumar': 'Reactive', 'Vinay K Singh': 'proactive', 'Vivek Bhatia': 'Reactive', 'Ravi verma': 'Reactive', 'Deepak Singh': 'Voice', 'Singh Deepak': 'Voice', 'Tarandeep Singh Kohli': 'Voice', 'Tarandeep': 'Voice', 'Amit Kumar': 'Voice', 'Kumar Amit': 'Voice', 'Arun Sheoran': 'Voice', 'Sheoran Arun': 'Voice', 'Kapil Sharma': 'Voice', 'Sharma Kapil': 'Voice', 'Saurabh Malviya': 'Voice', 'Malviya Saurabh': 'Voice', 'Sachin Kumar': 'Voice', 'Kumar Sachin': 'Voice'}

In [14]:
c['Ankit kothari']

'Reactive'